<a href="https://colab.research.google.com/github/vananthi/Python_Data_Structures/blob/main/Data_Structure_Tuples_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples

   - Tuples are ordered sequence of mixed data types
   - Tuples are written in comma separated elements within parenthesis
   - Tuples are unchangeable and accepte dupilicate values

In [46]:
t = (1,2,2,'apple',True,1+0j,4) # accept all data types # accept duplicate values

In [47]:
type(t) # to find type

tuple

In [48]:
len(t) # to find length

7

In [49]:
t[2] # indexable possi ble

2

In [50]:
t[2:5] #slicing is possible

(2, 'apple', True)

In [51]:
#single value tuple

t2 = 1,
print(t2)

(1,)

In [52]:
type(t2)

tuple

In [53]:
#This is not a tuple

t4 = 1
t5 = (1)

In [35]:
type(t4)

int

#### Indexing in tuple

In [54]:
t = ("Mumbai", 10, "Python", 100)

In [55]:
len(t)

4

In [56]:
t[-1]

100

In [57]:
#gives the element at index location 0 i.e. 1st element

print(t[0])

#gives the element at index location 1

print(t[1])

Mumbai
10

#### Slicing

In [58]:
#slicing first 2 elements from t

t = ("Mumbai", 10, "Python", 100)

t[0:2]

('Mumbai', 10)

In [59]:
t[2:]

('Python', 100)

In [64]:
#slicing last 2 elements from t

t[:-1]

(100, 'Python', 10, 'Mumbai')

In [65]:
#find the number of elements in a tuple

len(t)

4

#### Concatenation

In [66]:
tup1 = ("welcome", "to", "today's")
tup2 = ("class", "on", "python")

In [67]:
tup3 = tup1 + tup2

In [ ]:
tup3

('welcome', 'to', "today's", 'class', 'on', 'python')

#### min, max, sum functions

In [68]:
t = (2,4,6,8)
sum(t)

20

In [69]:
t = (2,4,6,8)
min(t)

2

In [70]:
t = (2,4,6,8)
max(t)

8

In [71]:
t = (5.5, 4.2, 5, 9)
max(t)

9

In [72]:
tuple1 = (1,2,3,4,"hello", "world", (1,2,3)) # nested is possible

In [73]:
tuple2 = (1,2,3)
tuple2[1]

2

In [74]:
tuple1[6][1]

2

#### Immutability

In [75]:
t = ("Hello!!", "Welcome" , 5, 10, "world", "of", "Analytics!!")

In [76]:
t[3]

10

In [77]:
t[2] = "to"  # change is not possible
t[3] = "the"

TypeError: ignored

In [78]:
t[0:2]

('Hello!!', 'Welcome')

In [79]:
t[-3:]

('world', 'of', 'Analytics!!')

In [ ]:
#How to update the 2nd and 3rd element

new_tuple = t[0:2] + ("to", "the",) + t[-3:]

In [ ]:
new_tuple

('Hello!!', 'Welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [ ]:
#QUESTION

t = ("disco", 12, 4.5)
t[0]

'disco'

In [ ]:
t[0][2]

's'

#### Sorting a tuple

In [ ]:
t = (2,3,8,5,4,1)

sorted(t)

[1, 2, 3, 4, 5, 8]

In [87]:
# Nested tuples

t = (1,5,"Hello","World", ("Java", "Python"))

In [94]:
 #How to access Java ????
 t[4][0]

'Java'

In [43]:
tuple1=(22,2,1,19,4)
sorted(tuple1)

[1, 2, 4, 19, 22]

In [44]:
list1 = sorted(tuple1, reverse=True)
tuple2 = tuple(list1)
print(tuple2)

(22, 19, 4, 2, 1)

In [95]:
# compare two values using tuble
a=(1,2,3,4,5)
b=(3,5,7,8)
c=a+b
c

(1, 2, 3, 4, 5, 3, 5, 7, 8)