<a href="https://colab.research.google.com/github/vananthi/Python_Data_Structures/blob/main/Data_structure_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=[]   # empty list is possible

In [ ]:
list

[]

In [ ]:
t_list = [5,6.8,'india',True,5,1+0j] # list accept all data types

In [ ]:
len(t_list) # to find the length of list

6

In [ ]:
t_list.append([5,7,'k']) #nested liss

In [ ]:
t_list

[5, 6.8, 'india', True, 5, (1+0j), [5, 7, 'k']]

In [ ]:
t_list.insert(2,[9,7,8]) # insert is possible

In [ ]:
t_list

[5, 6.8, [9, 7, 8], 'india', True, 5, (1+0j), [5, 7, 'k']]

In [ ]:
t_list.extend(['y',9,5.6])

In [ ]:
t_list

[5, 6.8, [9, 7, 8], 'india', True, 5, (1+0j), [5, 7, 'k'], 'y', 9, 5.6]

In [ ]:
t_list# duplication is possible

[5, 6.8, [9, 7, 8], 'india', True, 5, (1+0j), [5, 7, 'k'], 'y', 9, 5.6]

In [ ]:
t_list[3]  # list is indexable

'india'

In [ ]:
t_list[-1] # negative index also possible

5

In [ ]:
type(t_list)  # to find the type

list

In [ ]:
t_list.pop() # delete the last index

5.6

In [ ]:
t_list

[5, 6.8, [9, 7, 8], 'india', True, 5, (1+0j), [5, 7, 'k'], 'y', 9]

In [ ]:
t_list.count

In [ ]:
t_list[2:6] # slicing is possible

[[9, 7, 8], 'india', True, 5]

In [ ]:
t_list.reverse() # reverse is possible

In [ ]:
t_list

[9, 'y', [5, 7, 'k'], (1+0j), 5, True, 'india', [9, 7, 8], 6.8, 5]

In [ ]:
t_list[3]='apple' # replace is possible

In [ ]:
t_list

[5, 6.8, 'india', 'apple', 5, (1+0j)]

append()
extend()
insert()
remove()
index()
count()
pop() # remove the last index
reverse ()
sort()
copy()
clear()
any()
all()
bool()
enumerate()
filter()
iter()
list()
len()
max()
min()
map()
reversed()
slice()
sorted()
sum()
zip()

In [ ]:
t = [1,2,3,4,5,6,7,8,9]
for i in t:
  print(i*5)

5
10
15
20
25
30
35
40
45

In [ ]:
stu_list= ['sasi','indu','maran','mohana','ananthi']

In [ ]:
for i in stu_list:
  print("welcome to class",i)  # for(i =0 ; i<=10,i++)

welcome to class sasi
welcome to class indu
welcome to class maran
welcome to class mohana
welcome to class ananthi

In [ ]:
name = "ananthi"
for i in name:
  print (i)

a
n
a
n
t
h
i

In [ ]:
nat_num = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
country = ['usa','japan','india','sweden','finland']
for i in country:
  #print("hi")
  if i == 'india':
    print("welcome",i)
  else:
    print("sorry not allowed")

sorry not allowed
sorry not allowed
welcome india
sorry not allowed
sorry not allowed