<a href="https://colab.research.google.com/github/vananthi/Python_Data_Structures/blob/main/Dictionary_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary

   - Dictionary stores element as keys and value pairs
   - The key is like an index, its always unique & immutable
   - The values are the objects that contain information
   - Values are accessed using their keys
   - Each key is followed by a value separated by a colon
   - Each key and value pair is separated by a comma enclosed inside curly
    brackets

In [1]:
fruits= {1:'apple',2:'orange',3:'grapes'}

In [2]:
type(fruits)

dict

In [3]:
len(fruits)

3

In [4]:
fruits.keys()

dict_keys([1, 2, 3])

In [5]:
fruits.values()

dict_values(['apple', 'orange', 'grapes'])

In [6]:
fruits.items()

dict_items([(1, 'apple'), (2, 'orange'), (3, 'grapes')])

In [7]:
fruits

{1: 'apple', 2: 'orange', 3: 'grapes'}

In [ ]:
# Creating a dictionary

d1 = {"India": "INR", "USA": "USD", "Hong Kong": "HKD"}
# Accessing value using keys

d1["India"]

'INR'

In [ ]:
# Replacing the value for a key in a dictionary

d1["India"] = "NEW"
d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [ ]:
d1["Japan"] = "YEN"

In [ ]:
d1

{'India': 'YEN', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'YEN'}

In [ ]:
# Inserting a new key-value pair

d1["Japan"] = "YEN"

d1

In [ ]:
d1

{'India': 'YEN', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'YEN'}

In [ ]:
# Deleting a key value pair

del d1["Japan"]

d1

{'India': 'YEN', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [ ]:
# Sorting a dictionary

sorted(d1)

['Hong Kong', 'India', 'USA']

In [ ]:
d1["India"] = "INR"

In [ ]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [ ]:
# values() method

d1.values()

dict_values(['INR', 'USD', 'HKD'])

In [ ]:
# keys() method

d1.keys()

dict_keys(['India', 'USA', 'Hong Kong'])

In [ ]:
# get() method

d1.get('India')

'NEW'

In [ ]:
# update() method

d1.update({"India": "Rs"})
d1["India"] = "Rs"

d1

{'India': 'Rs', 'USA': 'USD', 'Hong Kong': 'HKD'}

##### Example 1
##### Description
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employee id and values represent the name, age, and profession (in the same order).

Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Sample output:

'Product Lead'

Note: Assume that employee data would be available in the data provided to you

In [8]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [9]:
type(Employee_data)

dict

In [10]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [11]:
type(Employee_data.get(104))

list

In [12]:
list_2 = Employee_data.get(104)

In [13]:
list_2[2]

'Product Lead'

In [14]:
Employee_data.get(104)[2]

'Product Lead'

##### Example 2

Suppose dict_1 = {"Python'':40, "R'':45}. What command should be used to delete the entry "R"?

In [15]:
dict_1 = {"Python":40, "R":45}

In [16]:
del dict_1["R"]

In [17]:
dict_1

{'Python': 40}

#####Example 3

d = {'Python':40, 'R':45}

print(list(d.keys()))

In [ ]:
d = {'Python':40, 'R':45}


print(list(d.keys()))

['Python', 'R']


```

##### Example 4

##### Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key based on user input which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [18]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [19]:
input_dict["Label"] = "NA"

In [20]:
input_dict["Label"]

'NA'

In [21]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

In [22]:
input_dict.keys()

dict_keys(['Name', 'Profession'])

In [23]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

if "Label" in input_dict.keys():
    print(input_dict["Label"])
else:
    print("NA")

NA

##### Example 5

- List of Values in a Dictionary.

##### Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

﻿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [ ]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [ ]:
sorted(input_dict.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']